<section class="bg-gray-900 text-white py-72 w-full">
    <div class="container mx-auto flex flex-col items-center">
      <h1 class="text-5xl font-bold mb-4">Our TTRPG Kickstarter is out now!</h1>
      <p class="text-xl mb-8">Support the campaign here</p>
      <div class="flex flex-wrap gap-4">
        <button class="bg-[--yellow] shadow-[3px_3px_0px_white] border-black border active:shadow-[1px_1px_0px] text-[--purple] font-bold py-2 px-4">LEARN MORE</button>
        <button class="bg-[--yellow] shadow-[3px_3px_0px_white] border-black border active:shadow-[1px_1px_0px] text-[--purple] font-bold py-2 px-4">PLEDGE</button>
      </div>
    </div>
</section>