<div class="bg-[--grey] text-white p-14">
    <h1 class="text-4xl font-bold mb-5 text-[--yellow]">OUR PROJECTS</h1>
    <div class="flex justify-center mb-5">
        <figure class="w-9/12 max-h-80 border-black border-b-2 shadow-[5px_4px_0px_var(--yellow)] mr-2">
            <img
                src="/assets/kickstarter.png"
                alt="thumbnail"
                class="w-full h-full object-cover"
            />
        </figure>
    </div>
    <div class="flex justify-center mb-5">
        <figure class="w-9/12 max-h-80 border-black border-b-2 shadow-[5px_4px_0px_var(--yellow)] mr-2">
            <img
                src="/assets/kickstarter.png"
                alt="thumbnail"
                class="w-full h-full object-cover"
            />
        </figure>
    </div>
</div>