<img src="/assets/navbar_logo.svg" alt="Navbar Logo" class="fixed top-7 left-10">
<nav class="bg-[--purple] shadow-[5px_4px_0px_white] border-black border fixed top-5 left-56 right-5 px-4 py-2">
  <div class="container flex justify-start items-center">
    <a href="#" class="text-white hover:text-[--yellow] px-5 py-2">HOME</a>
    <a href="#" class="text-white hover:text-[--yellow] px-5 py-2">WHO WE ARE</a>
    <a href="#" class="text-white hover:text-[--yellow] px-5 py-2">OUR PROJECTS</a>
    <a href="#" class="text-white hover:text-[--yellow] px-5 py-2">NEWS</a>
    <button class="bg-[--yellow] shadow-[3px_3px_0px_white] border-black border active:shadow-[1px_1px_0px] text-[--purple] font-bold py-2 px-4 ml-auto">SIGN IN</button>
  </div>
</nav>